@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1420px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header{
  align-items: center;
  background-color: #E5E3E5;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;
  
}
header .wrapper{
  max-width: 1750px;
  width: 97%;
}

.left-header, .right-header{
  align-items: center;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}
 .left-header{ float: left; }

 .right-header{ float: right;}

 .left-header figure{
   padding: 30px 65px 30px 0px;
   border-color: #CFCDCE;
   border-style: solid;
  border-width: 0px 1px 0px 0px;
  }

  .left-header form input[type=text]{
    border: none;
    background-color: transparent;
    font-family: "FontAwesome";
    font-size: 30px;
    outline: none;
    width: 500px;
    padding: 0px 0px 0px 30px;
  }

 .right-header ul li{
   font-size: 16px;
   font-weight: 1000;
   padding: 15px 0px 0px 30px;
   text-transform: uppercase;
 }

 .right-header ul li a { color: #6D6C72; }
 .right-header ul li a:hover { color: #DB3E35; }

 .right-header li:nth-child(3) a {
  align-items: center;
  border-color: #CFCDCE;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  display: flex;     
  flex-direction: column;
  padding: 26px 30px 18px 30px;  

}
.right-header li:nth-child(3) a span {
  color: #6D6C72;
  font-weight: 100;
  font-size: 14px;
  margin-top: 5px;
}
.right-header li:nth-child(3) a:hover {
  color: #fff;
  background-color: #DB3E35;
  border-radius: 5px;
  padding: 26px 30px 10px 30px;  
  transition: all 0.3s linear;

}
.right-header li:nth-child(3) a,  .right-header li:nth-child(4) a { color: #DB3E35;}  

.right-header li:nth-child(4) a:hover {
  background-color: #DB3E35;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  transition: all 0.3s linear;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner{
  background-image: url('http://placehold.jp/9c9c9c/ffffff/1837x699.png?text=Banner%20image');
  background-size: cover;
  height: 70vh;
  position: relative;
}
.banner-recipe-card{
background-color: #E5E3E5;
padding: 80px 30px 44px 30px;
position: absolute;
top: 120px;
right: 120px;
width: 380px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.recipe-of-the-day{
  background-color: #DB3E35;
  height: 155px;
  width: 155px;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  right: -75px;
}
.banner-recipe-card .recipe-of-the-day p{
  color: #E5E3E5;
  font-size: 16px;
  font-weight: 1000;
  line-height: 25px;
  text-transform: uppercase;
  padding: 50px 30px;
}

.banner-recipe-card h2{
  font-size: 48px;
  color: #4D4C4F;
  text-transform: capitalize;
  text-align: center;
  line-height: 50px;
  font-family: "Times New Roman", Times, serif;
}
.banner-recipe-card p {
  font-size: 24px;
  color: #636365;
  line-height: 35px;
  padding: 30px 0px 30px 0px;
  text-align: center;
  

}
.author{
  float: left;
  display: flex;
  align-items: center;
}
.author img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.author h3{
  color: #393846;
  font-weight: 1000;
  padding: 20px;

}
.social-icons {
  position: absolute;
  bottom: 24px;
  left: 22px;
}
.social-icons li{
background-color: #000;
opacity: 75%;
padding: 16px 18px;
border-radius: 5px;
margin-right: 10px;
font-size: 18px;
}
.social-icons li a {
  color: #E5E3E5;
}


.social-icons li:nth-child(2):hover a {
  color: #1877f2;
  transform: scale(1.5);
  transition: all 0.5s linear;
}
.social-icons li:nth-child(3):hover a {
  color: #bd081c;
  transform: scale(1.5);
  transition: all 0.5s linear;
}
.social-icons li:nth-child(4):hover a {
  color: #fff;
  transform: scale(1.5);
  transition: all 0.5s linear;
}

.save-btn::before  {
content: "\f02e";
font-family: "FontAwesome";
text-indent: 0;
font-size: 24px;
padding-right: 5px;
}
.facebook::before{
  content: "\f09a";
  font-family: "FontAwesome";
  text-indent: 0;
  background-color: transparent;
  font-size: 24px;
  float: right;
}

.pintrest::before{
  content: "\f231";
  font-family: "FontAwesome";
  text-indent: 0;
  font-size: 24px;
  float: right;
}
.back-btn::before{
  content: "\f064 ";
  font-family: "FontAwesome";
  text-indent: 0;
  font-size: 24px;
  float: right;
}
.text-indent { text-indent: -9999px;}




.cooking-recipe{
padding: 30px 0px;  
background-color: #F5F1EE;
}
.cooking-recipe-content h2{
  font-size: 52px;
  color: #272730;
  font-weight: 1000;
  text-align: center;
  padding: 40px 0px 10px 0px;
  font-family: "Times New Roman", Times, serif;

}
.cooking-recipe-content p{
font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 60px;
  font-family: "Times New Roman", Times, serif;
}
.recipe-content{
border-top: 10px solid #272528;
padding: 15px 0px 30px 0px;
}
.recipe-content .main-h3{
  color: #3A373A;
  font-size: 38px;
  padding-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
}

.recipe-content h3 { 
  color: #A9A9A7;
  font-size: 34px;
  padding-bottom: 50px;
  font-family: "Times New Roman", Times, serif;
}
.cooking-recipe-scroll ul {
  display: flex;
  justify-content: space-between;
}
.cooking-recipe-scroll { position: relative; }
.cooking-recipe-card { background-color: #fff; }
.cooking-recipe-card  figure{ height: 360px; }

.cooking-recipe-card h4 {
  color: #040304;
  font-size: 22px;
  font-weight: 900;
  padding: 20px 18px 0px 18px;
  max-width: 260px;
}
.cooking-recipe-card p {
  color: #868487;
  font-size: 16px;
  padding: 5px 18px 0px 18px;
  text-align: left;
  text-transform: none;
}
.time-save{
  padding: 0px 18px 20px 18px;
  margin-bottom: -10px;
}

.time {
  color: #D7D5D8;
  font-size: 16px;
}


.recipe-save-btn::before { 
  content: "\f02e";
  color: #BAB8BB;
  font-family: "FontAwesome";
  float: right;
  font-size: 30px;
  text-indent: 0; 
  padding-right: 5px;

}
.recipe-save-btn:hover{
  transform: scale(1.3);
  transition: all 0.5s linear;
}

.scroll-btn{
  position: absolute;
  top: 50%;
  right: -70px;
  transform: translate(0, -50%);
  background-color: #FFF;
}
.next-scroll{ padding: 0px 18px 0px 10px; }

.next-scroll::before{
  content: "\f105";
  color: #6D6C72;
  font-family: "FontAwesome";
  float: right;
  font-size: 70px;
  text-indent: 0; 
}
.scroll-btn:hover{ 
  box-shadow: 0px 0px 8px 1.5px rgba(0,0,0,0.3); 
  transition: all 0.3s linear;
}

.newsletter{
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}

.newsletter-content h5{
  color: #302F34;
  font-size: 20px;
  font-weight: 1000;  
}
.newsletter-content p {
  color: #6D6C72;
  font-size: 18px;
  padding: 10px 0px;
  text-align: start;
  text-transform: none;
}

.newsletter-content a{
  color: #4D4C4F;
  font-weight: 300;
  text-decoration: underline;
}

.sign-up-btn {
  background-color: #DB3E35;
  border: 1px solid #DB3E35;
  border-radius: 5px;
  color: #D7D5D8;
  font-size: 18px;
  padding: 16px;
  text-transform: capitalize;
}

.sign-up-btn:hover {
  border: 1px solid #DB3E35;
background-color: transparent;
color: #DB3E35;
transition: all 0.5s linear;
}
.newsletter-input {
  width: 300px;
  font-size: 18px;
  color: #868487;
  padding: 16px;
  margin-right: 20px;
  border: 1px solid #A9A9A7;
}

.dark-background{ 
  background-color: #241F25;
  position: relative;
}

.dark-background figure { height: 400px;}
.recipe-content h2 { display: none; }
.dark-background p { color: #B4AFB5; }

.dark-background h4 { 
  color: #fff;
  padding-top: 8px;
}

.bundle-recipe{ background-color: #F5F1EE; }

.bundle-recipe-content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bundle-recipe-content LI:nth-child(1), .bundle-recipe-content LI:nth-child(2){
margin: 0;
}
.bundle-recipe-card{
  margin-top: 50px;
  text-align: center;
  background-color: #fff;
}

.bundle-recipe-card h4 {
  color: #323334;
  font-size: 34px;
  max-width: 600px;
  padding: 30px;

}
.recipe-save{
  background-color: #DB3E35;
  border: 1px solid #DB3E35;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 20px;
  margin-bottom: 40px;
}
.recipe-save::before{
content: "\f02e";
font-family: "FontAwesome";
text-indent: 0;
font-size: 24px;
padding-right: 10px;

}

.recipe-save:hover{
  background-color: transparent;
  color: #DB3E35;
  border: 1px solid #DB3E35;
  transition: all 0.5s linear;
}

.fold-corner{
  position: relative;
}
.fold-corner::before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 50px solid #fff;
  border-right: 50px solid transparent;
  box-shadow: -2px -2px 2px rgba(0,0,0,0.3);
  

  }

  .fold-corner::after {
    content: "";
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 50px solid #F5F1EE; 
    border-left: 50px solid transparent;
  }


.master-recipe{ background-color: #F5F1EE;}


.video-btn::before {
  content: "\f144";
  color: #FEFCFF;
  font-family: "FontAwesome";
  float: right;
  font-size: 40px;
  position: absolute;
  text-indent: 0;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);

}
.see-all-editor-btn{
  text-align: center;
  padding: 60px;
}

.see-all-btn{
  border: 2px solid #423E3D;
  border-radius: 5px;
  color: #423E3D;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 60px;
  text-transform: capitalize;

}

.see-all-btn:hover {
  background-color:#423E3D;
  color: #D7D5D8;
  transition: all 0.5s linear;
}

.footer-newsletter {
  background-color: #E5E7E2;
  padding: 30px 0px;
}

.footer-newsletter-block{
  display: flex;
  justify-content: space-between;
}
.footer-newsletter-content h2 {
  color: #241F25;
  font-size: 42px;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}
.footer-newsletter-content p{
  color: #423E3D;
  font-size: 22px;
  padding: 15px 0px 30px 0px;
}
.icons-download ul {
  padding-bottom: 30px;
  border-bottom: 1px solid #c4c4c4;
}
.icons-download figure img{
  padding: 30px 0px;
  width: auto;
}

.icons-download li{  
  border: 1px solid #cacbc9;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  margin-right: 10px;
}
.icons-download li:hover{
  transform: scale(1.2);
  transition: all 0.5s linear;
}

.footer-pintrest::before{
  content: "\f231 ";
  color: #6b696c;
  font-family: "FontAwesome";
  float: right;
  font-size: 30px;
  text-indent: 0;
}
.footer-facebook::before{
  content: "\f09a";
  color: #6b696c;
  font-family: "FontAwesome";
  float: right;
  font-size: 30px;
  text-indent: 0;
}
.footer-twitter::before{
  content: "\f099";
  color: #6b696c;
  font-family: "FontAwesome";
  float: right;
  font-size: 30px;
  text-indent: 0;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer{
  background-color: #272228;
  color: #D9E2E4;
 
  padding: 35px 0px;
}

footer .wrapper {
  max-width: 1750px;
  width: 97%;
  display: flex;
  justify-content: space-between;
}
.right-footer li {
  border-left: 1px solid #D9E2E4;
  font-size: 18px;
  padding:0px 20px;
}
.left-footer li {
  border-right: 1px solid #D9E2E4;
  font-size: 18px;
  padding:0px 20px;
}

.right-footer li a, .left-footer li a  { color: #D9E2E4; }
.right-footer li:nth-child(1), .left-footer li:nth-child(4){border: none; }

.right-footer li a:hover, .left-footer li a:hover { 
  font-weight: 1000;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}  